data/
**/data/
**/outputs/
**/logs/
**/calibration_outputs/
**/*.pkl
**/*.npy
**/*.ckpt
**/*.pth
**/*.pt
**/*.bin
**/*.safetensors
**/*.mp4
**/*.avi
__pycache__/
*.pyc
*.egg-info/
build/
dist/
dependencies/


**/dependencies/
**/__pycache__/
**/*.so
**/*.a
**/*.o
**/*.os
**/.git/

