pogs==0.1.1
dynamixel_sdk_custom_interfaces==3.8.4
dynamixel_sdk==3.8.4
dynamixel_interfaces==1.0.1
rqt-publisher==1.5.0
rqt-shell==1.0.2
rqt-gui-py==1.1.9
rqt-bag==1.1.5
ament-pep257==0.12.14
ament-index-python==1.4.0
sros2==0.10.7
rosidl-cli==3.1.8
launch-testing-ros==0.19.13
rqt-graph==1.3.1
ros2action==0.18.15
ament-flake8==0.12.14
rqt-srv==1.0.3
ros2topic==0.18.15
launch==1.0.13
ros2component==0.18.15
ament-xmllint==0.12.14
action-tutorials-py==0.20.7
rqt-plot==1.1.5
ros2lifecycle==0.18.15
launch-param-builder==0.1.1
topic-monitor==0.20.7
ros2controlcli==2.53.1
examples-rclpy-executors==0.15.5
rqt-gui==1.1.9
examples-rclpy-minimal-service==0.15.5
rpyutils==0.2.2
rqt-console==2.0.3
rqt-msg==1.2.0
examples-rclpy-minimal-action-client==0.15.5
rqt-reconfigure==1.1.2
tf2-tools==0.25.18
ros2pkg==0.18.15
examples-rclpy-minimal-client==0.15.5
ament-uncrustify==0.12.14
ament-cpplint==0.12.14
examples-rclpy-minimal-subscriber==0.15.5
rqt-topic==1.5.0
quality-of-service-demo-py==0.20.7
launch-ros==0.19.13
tf2-ros-py==0.25.18
ros2param==0.18.15
joint-state-publisher==2.4.0
ros2interface==0.18.15
ament-copyright==0.12.14
ament-package==0.14.1
osrf-pycommon==2.1.6
joint-state-publisher-gui==2.4.0
urdfdom-py==1.2.1
ament-lint==0.12.14
demo-nodes-py==0.20.7
ros2bag==0.15.15
rqt-action==2.0.1
nav2-simple-commander==1.0.0
ros2run==0.18.15
ament-cppcheck==0.12.14
examples-rclpy-minimal-action-server==0.15.5
rqt-service-caller==1.0.5
domain-coordinator==0.10.0
launch-xml==1.0.13
launch-testing==1.0.13
ros2service==0.18.15
ament-lint-cmake==0.12.14
launch-yaml==1.0.13
ros2plugin==5.1.3
teleop-twist-keyboard==2.4.1
ros2launch==0.19.13
generate-parameter-library-py==0.7.1
moveit-configs-utils==2.5.9
sensor-msgs-py==4.9.0
ros2node==0.18.15
rqt-bag-plugins==1.1.5
rqt-py-console==1.0.2
ros2cli==0.18.15
ros2multicast==0.18.15
ros2doctor==0.18.15
examples-rclpy-minimal-publisher==0.15.5
rosidl-runtime-py==0.9.3
diagnostic-msgs==4.9.0
slam-toolbox==2.6.10
rqt-py-common==1.1.9
rosidl-parser==3.1.8
trajectory-msgs==4.9.0
tf2-msgs==0.25.18
image-geometry==3.2.1
qt-gui-py-common==2.2.4
rosgraph-msgs==1.2.2
nav-msgs==4.9.0
rmw-dds-common==1.6.0
diagnostic-updater==4.0.6
logging-demo==0.20.7
octomap-msgs==2.0.1
xacro==2.1.1
composition-interfaces==1.2.2
cv-bridge==3.2.1
srdfdom==2.0.7
rosidl-adapter==3.1.8
moveit-msgs==2.2.1
shape-msgs==4.9.0
rosbag2-py==0.15.15
tf2-sensor-msgs==0.25.18
ackermann-msgs==2.0.2
rclpy==3.3.19
controller-manager==2.53.1
action-msgs==1.2.2
dwb-msgs==1.1.20
std-msgs==4.9.0
python-qt-binding==1.1.3
resource-retriever==3.1.3
std-srvs==4.9.0
rosidl-typesupport-fastrtps-c==2.2.4
bond==4.1.2
visualization-msgs==4.9.0
control-msgs==4.8.0
map-msgs==2.1.0
example-interfaces==0.9.3
rosidl-generator-cpp==3.1.8
stereo-msgs==4.9.0
tf2-geometry-msgs==0.25.18
nav2-common==1.1.20
geometry-msgs==4.9.0
cartographer-ros-msgs==2.0.9002
rosidl-generator-c==3.1.8
action-tutorials-interfaces==0.20.7
smclib==4.1.2
rosidl-typesupport-fastrtps-cpp==2.2.4
nav2-msgs==1.1.20
ament-cmake-test==1.3.12
rosidl-typesupport-introspection-c==3.1.8
message-filters==4.3.11
controller-manager-msgs==2.53.1
rosbag2-interfaces==0.15.15
lifecycle-msgs==1.2.2
laser-geometry==2.4.1
rcutils==5.1.8
tf2-py==0.25.18
rosidl-typesupport-introspection-cpp==3.1.8
turtlesim==1.4.3
qt-gui==2.2.4
statistics-msgs==1.2.2
qt-gui-cpp==2.2.4
qt-dotgraph==2.2.4
object-recognition-msgs==2.0.0
pendulum-msgs==0.20.7
tf2-kdl==0.25.18
actionlib-msgs==4.9.0
sensor-msgs==4.9.0
angles==1.15.0
pcl-msgs==1.0.0
rosidl-generator-py==0.14.6
rosidl-typesupport-c==2.0.2
rcl-interfaces==1.2.2
unique-identifier-msgs==2.2.1
nav-2d-msgs==1.1.20
interactive-markers==2.3.2
rosidl-typesupport-cpp==2.0.2
builtin-interfaces==1.2.2
rosidl-cmake==3.1.8
tomli==2.3.0
Farama-Notifications==0.0.4
aiohttp==3.12.15
jsonlines==4.0.0
gymnasium==0.29.1
portalocker==3.2.0
ruamel.yaml==0.19.1
mock-serial==0.0.1
sentry-sdk==2.34.1
regex==2025.7.34
librosa==0.11.0
orderly-set==5.5.0
pydantic_core==2.33.2
soxr==1.0.0
aiohappyeyeballs==2.6.1
smmap==5.0.2
itsdangerous==2.2.0
annotated-types==0.7.0
mergedeep==1.3.4
typing-inspect==0.9.0
uv==0.8.9
typing-inspection==0.4.1
wheel==0.45.1
GitPython==3.1.45
mypy_extensions==1.1.0
async-timeout==5.0.1
attrs==25.3.0
pyrealsense2==2.56.5.9235
pyserial==3.5
kornia_rs==0.1.10
deepdiff==8.6.0
num2words==0.5.14
pytest-cov==7.0.0
pydantic==2.11.7
yarl==1.20.1
rsa==4.7.2
hf_transfer==0.1.9
pfzy==0.3.4
click==8.2.1
imageio-ffmpeg==0.6.0
cffi==2.0.0
colorlog==6.10.1
Flask==3.1.1
rerun-sdk==0.22.1
UNKNOWN==0.0.0
inquirerpy==0.3.4
joblib==1.5.3
pytest-timeout==2.4.0
jmespath==1.1.0
wadler_lindig==0.1.7
wandb==0.21.1
charset-normalizer==3.4.3
mdurl==0.1.2
platformdirs==4.3.8
gitdb==4.0.12
lerobot==0.3.4
python-xlib==0.33
frozenlist==1.7.0
propcache==0.3.2
prompt_toolkit==3.0.51
ftfy==6.3.1
pooch==1.8.2
pyasn1==0.6.2
packaging==25.0
exceptiongroup==1.3.1
pluggy==1.6.0
threadpoolctl==3.6.0
Werkzeug==3.1.3
evdev==1.9.2
wcwidth==0.2.13
tzdata==2025.2
requests==2.32.4
pynput==1.8.1
tifffile==2025.5.10
gdown==5.2.1
xxhash==3.5.0
Pygments==2.19.2
av==15.0.0
PySocks==1.7.1
setproctitle==1.3.7
multidict==6.6.4
pycparser==2.23
python-dateutil==2.9.0.post0
docutils==0.19
audioread==3.0.1
cloudpickle==3.1.1
cmake==4.1.0
urllib3==2.5.0
soundfile==0.13.1
msgpack==1.1.1
lazy_loader==0.4
pyyaml-include==1.4.1
safetensors==0.6.2
filelock==3.25.2
draccus==0.10.0
blinker==1.9.0
docopt==0.6.2
proglog==0.1.12
accelerate==1.12.0
aiosignal==1.4.0
torchcodec==0.5
coverage==7.13.0
datasets==4.1.1
lerobot==0.3.4
pytz==2025.2
alembic==1.18.4
trimesh==4.11.1
nuscenes-devkit==1.2.0
gsplat==1.4.0
websocket-client==1.9.0
distributed-ucxx-cu11==0.43.0
fsspec==2026.2.0
timm==1.0.26
distlib==0.4.0
fastrlock==0.8.3
pathspec==1.0.3
nvidia-cuda-cupti-cu12==12.8.90
pathos==0.3.5
sortedcontainers==2.4.0
yacs==0.1.8
rawpy==0.25.1
black==24.4.2
stack-data==0.6.3
executing==2.2.1
parameterized==0.9.0
ptyprocess==0.7.0
httpx==0.28.1
libkvikio-cu11==25.4.0
rich==13.7.1
rpds-py==0.30.0
nvidia-ml-py==12.575.51
jsonschema-specifications==2025.9.1
pyngrok==7.5.0
locket==1.0.0
einops==0.8.0
lvis==0.5.3
hf-xet==1.4.2
nvidia-cusparselt-cu12==0.7.1
annotated-doc==0.0.4
nvtx==0.2.14
pillow==11.3.0
semantic-version==2.10.0
raft-dask-cu11==25.4.0
splines==0.3.0
imageio==2.34.1
lightning==2.6.1
grpcio==1.76.0
widgetsnbextension==4.0.15
nvidia-nvtx-cu12==12.8.90
markdown-it-py==4.0.0
rapids-dask-dependency==25.4.0
PyRep==4.1.0.3
babel==2.17.0
jsonpointer==3.0.0
asciitree==0.3.3
debugpy==1.8.19
soupsieve==2.8.3
appdirs==1.4.4
partd==1.4.2
setuptools==80.9.0
pointops==1.0
shellingham==1.5.4
nbformat==5.10.4
nltk==3.9.2
traitlets==5.14.3
lxml==6.0.2
terminado==0.18.1
wheel==0.45.1
json5==0.13.0
scikit-image==0.25.2
tinycss2==1.4.0
fvcore==0.1.5.post20221221
rfc3987-syntax==1.1.0
Cython==3.2.4
PyYAML==6.0.1
treelite==4.4.1
fire==0.7.1
rlbench==1.2.0
triton==3.1.0
argon2-cffi==25.1.0
opencv-python==4.10.0.84
msgspec==0.20.0
cachetools==6.2.4
nvidia-curand-cu11==10.3.0.86
prettytable==3.17.0
msgpack-numpy==0.4.8
scikit-learn==1.7.2
rootutils==1.0.7
pyrealsense2==2.56.5.9235
rtree==1.4.1
greenlet==3.3.2
torchtyping==0.1.4
mapbox_earcut==2.0.0
typer==0.24.1
autolab-core==1.1.1
nvidia-cuda-runtime-cu12==12.8.90
dask-cudf-cu11==25.4.0
detectron2==0.6
cmaes==0.13.0
protobuf==4.25.8
typing_extensions==4.15.0
pip==25.3
pip==26.0.1
identify==2.6.18
mss==10.1.0
nvidia-cusolver-cu11==11.4.1.48
importlib_metadata==8.7.1
pynvml==12.0.0
mpmath==1.3.0
ptxcompiler-cu11==0.8.1.post3
libcuml-cu11==25.4.0
overrides==7.7.0
ipywidgets==8.1.8
jedi==0.19.2
nerfstudio==1.1.5
webcolors==25.10.0
librmm-cu11==25.4.0
tabulate==0.9.0
h5py==3.11.0
yourdfpy==0.0.60
SharedArray==3.2.3
lark==1.3.1
nvidia-cusparse-cu12==12.5.8.93
numba==0.60.0
python-box==6.1.0
pytorch-msssim==1.0.0
pandocfilters==1.5.1
jupyter_client==8.8.0
fqdn==1.5.1
nbclient==0.10.4
torchmetrics==1.8.2
narwhals==2.15.0
libraft-cu11==25.4.0
Mako==1.3.10
yapf==0.40.2
cudf-cu11==25.4.0
gym-notices==0.1.0
arrow==1.4.0
cycler==0.12.1
nvidia-cusolver-cu12==11.7.3.90
jupyterlab_pygments==0.3.0
ConfigArgParse==1.7.1
anyio==4.12.1
h11==0.16.0
nvidia-nccl-cu11==2.21.5
botocore==1.42.33
tensorboard==2.16.2
nvidia-nccl-cu12==2.27.5
nvidia-cufft-cu11==10.9.0.58
configobj==5.0.9
multiprocess==0.70.19
distributed==2025.2.0
Send2Trash==2.1.0
Markdown==3.10.1
tblib==3.2.2
gym==0.25.2
numpy==1.26.4
cuda-bindings==12.9.4
tokenizers==0.19.1
cuda-pathfinder==1.4.0
comet_ml==3.55.0
tqdm==4.67.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
websockets==16.0
numcodecs==0.13.1
natsort==8.4.0
plotly==6.5.2
pogs==0.1.1
llvmlite==0.43.0
pylibraft-cu11==25.4.0
descartes==1.1.0
libcudf-cu11==25.4.0
fastjsonschema==2.21.2
dask==2025.2.0
opencv-python-headless==4.13.0.92
typeguard==4.5.1
shapely==2.0.7
open3d==0.18.0
kiwisolver==1.4.9
fpsample==1.0.2
httpcore==1.0.9
simple-websocket==1.1.0
ppft==1.7.8
nest-asyncio==1.6.0
nvidia-cuda-nvrtc-cu11==11.8.89
prometheus_client==0.24.1
notebook_shim==0.2.4
pycollada==0.9.2
fast_simplification==0.1.9
nvidia-cudnn-cu12==9.10.2.21
hydra-optuna-sweeper==1.2.0
pybind11==3.0.1
viser==0.2.7
defusedxml==0.7.1
rich-argparse==1.7.2
pox==0.3.7
idna==3.11
python-socketio==5.16.0
jaxtyping==0.3.5
hydra-colorlog==1.2.0
nvidia-cuda-nvrtc-cu12==12.8.93
bleach==6.3.0
zipp==3.23.0
pyparsing==3.3.2
everett==3.1.0
wsproto==1.3.2
dash==3.4.0
jupyter_core==5.9.1
addict==2.4.0
nvidia-cuda-runtime-cu11==11.8.89
filelock==3.25.0
jupyter-lsp==2.3.0
wurlitzer==3.1.1
pure_eval==0.2.3
python-json-logger==4.0.0
SQLAlchemy==2.0.48
torch-fidelity==0.3.0
rmm-cu11==25.4.0
jupyter-events==0.12.0
torch==2.5.1+cu118
jsonschema==4.26.0
diffusers==0.29.0
libcuvs-cu11==25.4.0
cfgv==3.5.0
cryptography==46.0.3
virtualenv==21.2.0
tensorly==0.9.0
matplotlib-inline==0.2.1
python-engineio==4.13.0
mistune==3.2.0
jupyter_server==2.17.0
ccimport==0.4.4
requests-toolbelt==1.0.0
pexpect==4.9.0
torch_geometric==2.5.3
warp-lang==1.11.0
pytorch-lightning==2.6.1
autopage==0.6.0
pyzmq==27.1.0
s3transfer==0.16.0
rapids-logger==0.1.19
cmd2==2.7.0
jupyterlab==4.5.2
beautifulsoup4==4.14.3
parso==0.8.5
vhacdx==0.0.10
ucx-py-cu11==0.43.0
cumm-cu118==0.7.11
nvidia-curand-cu12==10.3.9.90
nvidia-nvtx-cu11==11.8.86
async-lru==2.1.0
nodeenv==1.10.0
cuml-cu11==25.4.0
uri-template==1.3.0
stevedore==5.7.0
MarkupSafe==3.0.3
nbconvert==7.16.6
nvidia-cusparse-cu11==11.7.5.86
zarr==2.18.2
clip==1.0
pyquaternion==0.9.9
psutil==7.2.1
fasttext==0.9.3
ipython==8.38.0
pymeshlab==2025.7.post1
dataclasses==0.6
nvidia-cublas-cu12==12.8.4.1
sympy==1.13.1
nvidia-cufft-cu12==11.3.3.83
fasteners==0.20
dill==0.4.1
cliff==4.13.2
jupyterlab_server==2.28.0
python-dotenv==1.0.1
nerfacc==0.5.2
awscli==1.44.23
referencing==0.37.0
tornado==6.5.4
huggingface_hub==0.36.2
nvidia-cudnn-cu11==9.1.0.70
tensorboard-data-server==0.7.2
pytest==8.2.2
gdown==5.2.1
omegaconf==2.3.0
networkx==3.4.2
pyliblzfse==0.4.1
dulwich==1.0.0
pytokens==0.4.0
transformers==4.44.0
webencodings==0.5.1
embreex==2.17.7.post7
xatlas==0.0.11
toolz==1.1.0
nvidia-nvshmem-cu12==3.4.5
PySocks==1.7.1
fonttools==4.61.1
zict==3.0.0
wrapt==2.0.1
docstring_parser==0.17.0
comm==0.2.3
pandas==2.2.3
libucx-cu11==1.18.1
kornia==0.8.2
lightning-utilities==0.15.2
transforms3d==0.4.1
cupy-cuda11x==13.6.0
spconv-cu118==2.3.8
jupyter_server_terminals==0.5.4
hydra-core==1.3.2
six==1.17.0
open_clip_torch==3.2.0
nvidia-cublas-cu11==11.11.3.6
ipykernel==7.1.0
nvidia-nvjitlink-cu12==12.8.93
iopath==0.1.9
nvidia-cuda-cupti-cu11==11.8.87
pccm==0.4.16
moviepy==2.2.1
nvidia-nvcomp-cu11==4.2.0.11
retrying==1.4.2
libucxx-cu11==0.43.0
scipy==1.13.1
iniconfig==2.3.0
pyperclip==1.11.0
mediapy==1.2.5
plyfile==1.0.3
python-discovery==1.2.1
pycocotools==2.0.11
matplotlib==3.10.8
contourpy==1.3.2
termcolor==2.4.0
simplejson==3.20.2
isoduration==20.11.0
manifold3d==3.3.2
antlr4-python3-runtime==4.9.3
dask-cuda==25.4.0
ninja==1.13.0
asttokens==3.0.1
decorator==5.2.1
isort==5.13.2
pyarrow==19.0.1
tyro==1.0.5
tensorboardX==2.6.2.2
cubinlinker-cu11==0.3.0.post3
pylibcudf-cu11==25.4.0
colorama==0.4.6
cuda-python==11.8.7
tinycudann==2.0
optuna==2.10.1
bidict==0.23.1
svg.path==7.0
nvidia-cufile-cu12==1.13.1.3
numba-cuda==0.4.0
ucxx-cu11==0.43.0
certifi==2026.1.4
jupyterlab_widgets==3.0.16
Jinja2==3.1.6
absl-py==2.3.1
cuvs-cu11==25.4.0
argon2-cffi-bindings==25.1.0
torchvision==0.20.1+cu118
pre-commit==3.7.1
typing_extensions==4.12.2
packaging==24.2
wheel==0.45.1
backports.tarfile==1.2.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.text==3.12.1
importlib_metadata==8.0.0
platformdirs==4.2.2
tomli==2.0.1
jaraco.functools==4.0.1
more-itertools==10.3.0
jaraco.context==5.3.0
autocommand==2.2.2
zipp==3.19.2
typeguard==4.3.0
