*.ckpt

*.egg-info

*.ipynb

*.log

*.model

*.pth

*.pyc

*.npy

*.ply

__pycache__/

pogs/sample_data/*

pogs/configs/__pycache__/*
pogs/data/__pycache__/*
pogs/data/utils/__pycache__/*
pogs/encoders/__pycache__/*

pogs/scripts/outputs/*

pogs/ur5_interface/ur5_interface/data/*
pogs/ur5_interface/ur5_interface/scripts/outputs/*
outputs/*

pogs/tracking/__pycache__/*
pogs/ur5_interface/ur5_interface/outputs/*
pogs/ur5_interface/ur5_interface/scripts/results/*

data/*
media/POGS.mp4
outputs/*
pogs/tracking/models/
*.mp4
*.ipynb
.vscode/
pogs/data/utils/datasets/
pogs/calibration_outputs/world_to_extrinsic_zed.tf
pogs/calibration_outputs/wrist_to_zed_mini.tf
pogs/pogs/grasping/results
pogs/results
pogs/robot_description
pogs/scripts/goto_click_extrinsic_cam.py
pogs/scripts/goto_click_wrist_cam.py
pogs/scripts/test_grasp_visualization.py
pogs/scripts/results